<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> P2 - Ferme des 3 Chênes </title>

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>

    <body>
        <nav>
            <h1>Ferme des 3 Chênes</h1>

            <ul>
                <li><a href="{{ url_for('auth.index') }}">Accueil</a></li>
                <li><a href="{{ url_for('auth.gender') }}">Diversité des genres</a></li>
                <li><a href="{{ url_for('auth.complication') }}">Complications</a></li>
                <li><a href="{{ url_for('auth.velage') }}">Graphiques</a></li>
            </ul>
        </nav>

        <section class="content">
            <header>
                {% block header %}{% endblock %}
            </header>

            {% for message in get_flashed_messages() %}
            <div class="flash">
              
                {{ message }}

            </div>
            {% endfor %}
            {% block content %}{% endblock %}
        </section>
    </body>

</html>

