{% extends 'base_templates.html' %}

{% block header %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    <h1 class="pageTitle">{% block title %}Affichage du Graphique{% endblock %}</h1>
{% endblock %}
{% block content %}
    {% autoescape off %}
    {{ form }}
    {% endautoescape %}
    <script>
        var select = document.getElementById('Select_famille');
        select.value = "{{Famille}}";
        var select = document.getElementById('Select_sexe');
        select.value = "{{Sexe}}";
        var select = document.getElementById('Select_mois');
        select.value = "{{Mois}}";
        var select = document.getElementById('Select_année');
        select.value = "{{Ans}}";
        
    </script>
    <label>Famille : {{Famille}}</label><br>
    <label>Sexe : {{Sexe}}</label><br>
    <label>Année : {{Ans}}</label><br>
    <label>Mois : {{Mois}}</label><br>

{% endblock %}