{% extends 'base_templates.html' %}

{% block header %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <h1 class="pageTitle">{% block title %}Affichage du Graphique{% endblock %}</h1>
{% endblock %}
{% block content %}
    {% autoescape off %}
    {{form}}
    {% endautoescape %}
    <script>
        var select = document.getElementById('Select_famille');
        select.value = "{{Famille}}";
        var select = document.getElementById('Select_sexe');
        select.value = "{{Sexe}}";
        var select = document.getElementById('Select_mois');
        select.value = "{{Mois}}";
        var select = document.getElementById('Select_année');
        select.value = "{{Ans}}";
        
    </script>
    <label>Famille : {{Famille}}</label><br>
    <label>Sexe : {{Sexe_txt}}</label><br>
    <label>Année : {{Ans}}</label><br>
    <label>Mois : {{Mois_txt}}</label><br>
    <label>Graphique : {{Graph_name}}</label><br>
    {% if error %}
        <div><span style="color: red;">{{error}}</span></div>
    {% else %}<canvas id="graph" width="300px" height="100px"></canvas>
        <script>
            var ctx = document.getElementById('graph').getContext('2d');
            // console.log('gender');
            let data = {{data|tojson}};
            console.log(data);
            var myChart = new Chart(ctx, {
                type: 'line',
                data: { 
                    labels: [],
                    datasets: [{
                        label: 'Number',
                        backgroundColor: ['rgb(54, 162, 235)','rgb(255, 99, 132)'],
                        hoverOffset: 1,
                        data: [{{Male}}, {{Female}}]
                    }]
                }
            });
        </script>
    {% endif %}
    

{% endblock %}