<form action='#' method="post">

    <div class="input-group">
        <select name="Famille" id="Select_famille">
            <option value="all_families" selected>Toutes les familles</option>
            {% for famille in fam %}
                <option value="{{famille}}">{{famille}}</option>
            {% endfor %}
        </select>

        <select name="Sexe" id="Select_sexe">
            {% for nb, sex in sexs.items() %}
                <option value="{{nb}}">{{sex}}</option>
            {% endfor %}
        </select>

        <select name="Annee" id="Select_année">
            <option value="all_years" selected>Toutes les années</option>
            {% for ans in annee %}
                <option value="{{ans}}">{{ans}}</option>
            {% endfor %}
        </select>

        <select name="Mois" id="Select_mois">
            {% for nb, month in months.items() %}
                <option value="{{nb}}">{{month}}</option>
            {% endfor %}
        </select>

        <h1>Choix du graphique à montrer</h1>
        <select name="Graphique" id="Select_graphique">
            <option value="velage">Nombre de vêlages par jours sur la période</option>
            <option value="lune">Graphique de naissance en fonction de la période de pleine lune</option>
            <option value="race">Distibution des races</option>
        </select>

        <div class="submitgraph">
            <input type="submit" class="submitgraph" value="Afficher graphique">
        </div>


    </div>

</form>