{% extends 'base_templates.html' %}

{% block header %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
  <h1 class="pageTitle">{% block title %}Diversité des Genres{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for dat in data %}
    <script>
      console.log({{dat.sexe}})

    </script>
  {% endfor %}
    <label>Nombre de mâles et de femelles</label>
    <canvas id="graphique" width="300px" height="100px"></canvas>
    <script>
      var ctx = document.getElementById('graphique').getContext('2d');
      console.log('test');
      var myChart = new Chart(ctx, {
      type: 'bar',
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero:true
            },
          }],
        },
      },
      data: { 
      labels: ['Male', 'Female'],
      datasets: [{
                    label: 'Number',
                    data: [{{Male}},{{Female}}]
                   }]
	            }
        }
	    );
    </script>
{% endblock %}