{% extends 'base_templates.html' %}

{% block header %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <h1 class="pageTitle">{% block title %}Menu Graphiques{% endblock %}</h1>
{% endblock %}
{% block content %}
<p class="sstitle">Interface permettant d'afficher votre graphique</p>
{% autoescape off %}
{{ form }}
{% endautoescape %}
{% endblock %}


